<div class="flex justify-content-between p-5">
    <div class="input">
        <input (keyup)="search()" nz-input placeholder="Buscar por nombre" [(ngModel)]="value" type="text" />
    </div>
    <button (click)="openModal()" nz-button nzType="primary">Agregar</button>
</div>

<div class="p-5">
    <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Lista</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
            @for (data of basicTable.data; track $index) {
                <tr>
                  <td>{{ data.name }}</td>
                  <td>{{ data.phone }}</td>
                  <td>{{ (data.listId || '') | getList:lists }}</td>
                  <td>
                    <a (click)="edit(data)">Editar</a>                    
                    <a
                      class="ml-3"
                      nz-popconfirm
                      nzPopconfirmTitle="¿Seguro que desea eliminar el contacto?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteContact(data._id || '')"
                    >Eliminar</a>
                  </td>
                </tr>
            }
        </tbody>
    </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="contactId?'Editar':'Agregar'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzOkText="Guardar">
  <ng-container *nzModalContent>
    <form [formGroup]="form">
      <nz-select nzPlaceHolder="Lista" class="w-full" formControlName="listId" >
        @for (item of lists; track $index) {
          <nz-option [nzValue]="item._id" [nzLabel]="item.name"></nz-option>
        }
      </nz-select>      
      <input [nzStatus]="(init && name?.errors)?'error':''"  class="mt-3" nz-input placeholder="Nombre" formControlName="name" type="text" />
      @if (init && name?.errors) {
        <small class="error-text">Debe ingresar un nombre</small>
      }
      <input [nzStatus]="(init && phone?.errors)?'error':''" class="mt-3" nz-input placeholder="Teléfono" formControlName="phone" type="text" /> 
      <div class="flex flex-column">
        @if(init && phone?.errors && phone?.errors?.['required']){
          <small class="error-text">Debe ingresar un telefono</small>
        }
        @if(init && phone?.errors && (phone?.errors?.['minlength'] || phone?.errors?.['maxlength'])){
          <small class="error-text">El teléfono debe tener 9 dígitos</small>
        }
      </div>
    </form>
  </ng-container>
</nz-modal>
