<div class="flex w-scren h-screen justify-content-center align-items-center">

    <div class="bg-white p-5 flex flex-column justify-content-center align-items-center">

        <img src="assets/images/logo.svg" alt="Logo">
        <h1 class="text-center title" >Bienvenidos</h1>

        <nz-input-group class="input" [nzSuffix]="suffixTemplateInfo">
            <input type="text" nz-input placeholder="Correo" [(ngModel)]="email" />
        </nz-input-group>        
        <ng-template #suffixTemplateInfo>
          <span nz-icon nz-tooltip nzTooltipTitle="Ingresa un correo" nzType="info-circle"></span>
        </ng-template>
    
        <nz-input-group class="input" class="mt-3" [nzSuffix]="suffixTemplate">
            <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                placeholder="Contraseña"
                [(ngModel)]="password"
            />
        </nz-input-group>
        <ng-template #suffixTemplate>
            <span
              nz-icon
              [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
              (click)="passwordVisible = !passwordVisible"
            ></span>
        </ng-template>
        
        
          <button (click)="login()" class="w-full mt-3" nz-button nzType="primary">Ingresar</button>
        

        
    </div>




</div>